{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}">
{% endblock %}

{% block content %}
<div class="page-header">
  {% if item %}
    <h1 class="page-title">Edit {{ item.name }}</h1>
  {% else %}
    <h1 class="page-title">Add an Item</h1>
  {% endif %}
</div>
<form action="" method='post' class='form-container'>
  {% csrf_token %}
  <table class="form-table">
    {{ form.as_table }}
  </table>
  <a href="{% url 'shopping-list' %}" class="btn cancel-btn">Cancel</a>
  <button type="submit" class="btn submit-btn">Submit</button>
</form>
{% endblock %}
