{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  href="{% static "css/items/item-index.css" %}"
  type="text/css"  
>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1 class="page-title">Previous Items</h1>

</section>

<section class="card-container">
  {% for item in items %}
  
    <div class="card">
      <a href="{% url "item-detail" item.id %}" class="card-link">
        <div class="card-content">
          <h2 class="card-title">{{ item.name }}</h2>
          <p class="card-quantity"><small>{{ item.quantity }}</small></p>
        </div>
      </a>
      <a href="{% url 'mark-purchased' item.id %}" class="mark-purchased-btn">Add to Shopping list</a>
    </div>
  
  {% endfor %}
</section>

{% endblock %}
