{% extends 'base.html' %}
{% load static %}

{% block head %}
<!--css here-->
{% endblock %}


{% block content %}

<section class="page-header">
  <h1>Shopping List</h1>
</section>

<section class="card-container">
  {% for item in items %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
        </div>
        <h2 class="card-title">{{ item.name }}</h2>
    
        <p><small>{{ item.quantity }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}